#cloud-config
output : { all : '| tee -a /var/log/cloud-init-output.log' }

timezone: Asia/Taipei
repo_update: true
repo_upgrade: all

ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUzE1qxOGVQ/be2cA4IjKhZY16n4m4W4PAbwwgrA+FXU6uM/bw73DQNs03gi4zAmKFZo6WVIaVBTt+sbR/UawljzAFMmpFBaSbgWk+SujAT6c5AVLM3okNKjxIvgrjJFLfgd047Z2vMiEpgphZtGnxuCtBt53s7JpKanYZAHQpZxdm0FrtXed+j7wHWQdipyfEr1/5m1IJXQzkdmM9cbu6Don0Sr5jTh7o/x+SAeDA+Sr8bsNFMz6H/27oNOpdJ5JqonG35u9oiZn2YH/pXlj4CkRvkymeaRrpnV5CcxXWRa5ohwKNLtzGaIKaQmhSoU9vl+TiZ5WKTt4z2bG/LVp davidhsu@starlingde-MBP
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC71l9467DOGAK1VQ/WYy60IpO3EaiGBJGf+tt+wUFHBxvx2tzw/s9RVpFrBl4UnWD4ewf9Tsf6YIbxiqlPqTB9/peBKJFU1Oi3rf9n7BRzRyv8U6mdx9Tp607YH6RG2ne5v3Dbp+wKO5J0CxoYGCj+QQa+QKefXeV54K1z7gOo1iiwKZTOu+hKyJu0bWQhKUOgcWmvNxocFkEvVGDka5jXi9aFVP2jYZn3BMewXw4kX9ixHetbRqMx5lFAB/04SaepBJifgx773gydh2b6WB61odUQkb+soZxTNhhL7R5eBJyExq6gJ/3liCxqO+tiCSVFcUVBC/9PAxuZVAHK9WdH ivanwu@shopline-mac.local

packages:
  - htop
  - tcpdump
  - telnet
  - vim

bootcmd:
 - echo "ECS_CLUSTER=${project_name}" > /etc/ecs/ecs.config
 - echo "export ECS_CLUSTER=${project_name}" > /etc/profile.d/ecs_cluster.sh

runcmd:
 - mkdir -p /etc/ecs
 - echo "*       hard  nofile 65535" >> /etc/security/limits.conf
 - echo "*       soft  nofile 65535" >> /etc/security/limits.conf
 - echo "*       hard  nproc 65535" >> /etc/security/limits.conf
 - echo "*       soft  nproc 65535" >> /etc/security/limits.conf
 - yum install -y https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_amd64/amazon-ssm-agent.rpm
 - start amazon-ssm-agent
 - yum install -y https://s3.amazonaws.com/amazoncloudwatch-agent/amazon_linux/amd64/latest/amazon-cloudwatch-agent.rpm
 - /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c ssm:AmazonCloudWatch-api-production  -s
 - |
   echo -e "
   /var/log/containers/*.log
   {
     copytruncate
     daily
     rotate 3
     compress
     notifempty
     missingok
     dateext
   }" >> /etc/logrotate.d/shopline